---
title: "{{.Title}}"
project: "{{.Project}}"
type: "Epic"
status: "{{.Status}}"
labels: "{{.Labels}}"
parent: "{{.Parent}}"
---
## Description
{{.Description}}

## Implementation Details
{{range .ImplementationDetails}}- {{.}}
{{end}}




