---
title: "{{.Title}}"
project: "{{.Project}}"
type: "Epic"
status: "{{.Status}}"
labels: "{{.Labels}}"
{{if .Parent}}parent: "{{.Parent}}"{{end}}
---
## Description
{{.Description}}

## Implementation Details
{{range .ImplementationDetails}}- {{.}}
{{end}}
